<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/" class="text-white">Home</a>
    </div>
    <!-- Tampilkan nama pengguna dan tombol logout jika sudah login -->
    <ng-container *ngIf="isLoggedIn(); else showAuthButtons">
      <div class="flex gap-10 items-center">
        <a routerLink="/cars" class="text-white">Cars Management</a>
        <span class="text-white">Hello, {{ userName }}</span>
        <button (click)="logout()" class="bg-red-500 text-white p-2 rounded">
          Logout
        </button>
      </div>
    </ng-container>

    <!-- Tampilkan tombol login dan register jika belum login -->
    <ng-template #showAuthButtons>
      <div>
        <a routerLink="/login" class="text-white">Login</a>
        <a routerLink="/register" class="text-white">Register</a>
      </div>
    </ng-template>
  </div>
</nav>

<router-outlet></router-outlet>
